@mixin inner($pst: relative, $mxw: 1200px) {
    position: $pst;
    max-width: $mxw;
    width: 100%;
    margin: 0 auto;
}
@mixin flex($display: flex, $justify: space-between, $align: center) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin list_bar($width: 1px, $height: 10px, $padding: 12px, $margin: 12px) {
    position: relative;
    padding-left: $padding;
    margin-left: $margin;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: $width;
        height: $height;
        background-color: $list_bar_color;   
    }
    &:first-of-type {
        padding-left: 0;
        margin-left: 0;
        &::before {
            display: none;
        }
    }
}

.wrap {

}