@charset "UTF-8";
@import './variable';
@import './mixin';
@import './kkami';

.style{
    color: blue;
    @include flex;
}

.clearfix::after{
    content:"";
    display:block;
    clear:both
}

.footer {
    width: 100%;
    min-width: 1170px;
    background-color: #272a2e;
    // letter-spacing: -0.25em;
    color: #888;
    font-family: $main_font;
    .inner {
        padding: 39px 0 37px 0;
    }
    .footer_logo {
        float: left;
        margin-right: 50px;
    }
    .footer_info {
        float: left;
        padding: 0 0;
        .footer_link li {
            position: relative;
            padding-right: 16px;
            margin-right: 17px;
            font-size: 14px;
            font-weight: bold;
        }
        .footer_sns {
            display: flex;
            img {
                margin-left: 24px;
            }
        }
        address {
            margin-top: 15px;
            p {
                font-size: 14px;
            }
        } 
    }
    
}

