@charset "UTF-8";
@import './variable';
@import './mixin';
@import './kkami';

.style{
    color: blue;
    @include flex;
}

.footer {
    background-color: #272a2e;
    p, li {
        color: #888;
    }
    .inner {
        
    } 
}

