@charset "UTF-8";
@import './variable';
@import './mixin';

.wrap { 
    
}

.header {
    &-top {
        .inner {
            @include flex;
        }
        &__info {
            ul {
                @include flex;
                li {   
                    @include list_bar;
                    a {
                        font: {
                            family: $main_font;
                            weight: 800;
                            size: 1.4rem;
                        }
                        color: $font_black;
                    }
                }
            }
        }
        &__user {
            ul {
                @include flex;
                li {
                    @include list_bar;
                }
            }
        }
    }
    &-logo {

    }
    &-gnb {

    }
    &-search {

    }
}