@charset "utf-8";

/* 硫붿씤 */

/* layout */
#container{width: 100%; min-width: 1170px;position: relative;z-index: 1;}
.content_m{width:1170px; margin: 0 auto;padding:0;}
.content_m_wrap{width: 100%; min-width:1170px;}
.line_bg{display: block;}
.content_m.area_01{padding:25px 0 0 0 ;}
.content_m.area_02{width: 1194px;margin: 0 auto;position: relative;left: 50%;margin-left: -585px;}

/* container */
.area_01 .box_ban{float: left; height: 350px;}
.area_01 .box_ban.type01{width: 252px; margin-right: 24px;}
.area_01 .box_ban.type02{width: 892px;position: relative;border:1px solid #ccc;box-sizing:border-box;overflow: hidden;}
.ban_list.no02{height: 298px;border-bottom: none;box-sizing:border-box}
.ban_list.no02_nav{width:100%;z-index:1000;background: rgba(0,0,0,0.8);}
.ban_list.no02_nav li{line-height: 50px;text-align: center;transition: all .2s ease-out;font-size:14px;font-weight: 600;position: relative;}
.ban_list.no02_nav li a{display: inline-block;width: 100%;height: 50px;color:#999;transition: all .2s ease-out;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;box-sizing: border-box;}
.ban_list.no02_nav li:after{content:"";display: block;width: 1px;height: 15px;background: #777;position: absolute;right: 0;top: 18px;}
.ban_list.no02_nav li:last-child:after{display: none;}
.ban_list.no02_nav li:hover a,
.ban_list.no02_nav li.slick-current a{color:#fff;}

.area_02{position: relative;}
.area_02:after{content:"";display: block;width: 24px;height: 130px;position: absolute;top: 90px;right: 0;background: #fff;}
.area_02 .title_area{width: 360px;}
.area_02 .title_area h3{font-size: 23px;font-weight: 600;line-height: 30px;font-weight: 600;}
.area_02 .title_area p{font-size: 13px; color:#777; margin-top:11px;}
.area_02 .info_ban_area{width: 100%;}
.area_02 .info_banner{width: 100%;}
.area_02 .info_banner li{width: 373px;height: 127px;margin-right: 24px;box-sizing:border-box;position: relative;}
.area_02 .info_banner li:after, 
.area_02 .info_banner li:before{content:"";display: block;width: 3px;height: 100%;background: #ffd947;position: absolute;top: 0;opacity:0;transition:all .2s ease-out;z-index:1}
.area_02 .info_banner li:after{left: -1px;}
.area_02 .info_banner li:before{right: -1px;}
.area_02 .info_banner li:hover:after, 
.area_02 .info_banner li:hover:before{opacity:1;}
.area_02 .info_banner li a:after, 
.area_02 .info_banner li a:before{content:"";display: block;width: calc(100% + 2px);height: 3px;background: #ffd947;position: absolute;left: -1px;opacity:0;transition:all .2s ease-out;z-index:1}
.area_02 .info_banner li a:after{top: -1px;}
.area_02 .info_banner li a:before{bottom: -1px;}
.area_02 .info_banner li a:hover:after, 
.area_02 .info_banner li a:hover:before{opacity:1;}
.area_02 .info_banner li a{display: block;width: 100%;height: 100%;border:1px solid #ccc;box-sizing:border-box;position: relative;}
.area_02 .info_banner li a img{width: 100%;height: 100%;}

.area_03 {}
.area_03 .pick_lecture{position: relative;height: 375px;}
.area_03 .pick_lecture > li{float: left;width: 50%;box-sizing:border-box;}
/* .area_03 .pick_lecture > li.active{border-top:3px solid #ffd947;border-right:3px solid #ffd947;border-left:3px solid #ffd947;border-bottom:3px solid #fff;} */
/* .area_03 .pick_lecture > li.active:first-child{border-left:3px solid #ffd947;border-right:3px solid #ffd947;} */
.area_03 .pick_tab{padding: 17px 27px 17px 26px;box-sizing:border-box;position: relative;border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:3px solid #ffd947;}
.area_03 .pick_lecture > li:first-child .pick_tab{border-left:1px solid #ccc;border-right: none;}
.area_03 .pick_lecture > li.active .pick_tab{border-left: none;}
.area_03 .pick_lecture > li.active .pick_tab:before{content:"";display: block;height: 3px;width: calc(100% + 2px);background: #ffd947;position: absolute;top: -1px;left: -1px;z-index:2}
.area_03 .pick_lecture > li.active .pick_tab:after{content:"";display: block;height: 3px;width: calc(100% - 4px);background: #fff;position: absolute;bottom: -3px;left: 2px;z-index:2}
.area_03 .pick_lecture > li.active .line:before{content:"";display: block;height: calc(100% + 2px);width: 3px;background: #ffd947;position: absolute;top: 0;left: -1px;z-index:2}
.area_03 .pick_lecture > li.active .line:after{content:"";display: block;height: calc(100% + 3px);width: 3px;background: #ffd947;position: absolute;top: 0;right: -1px;z-index:2}
.area_03 .pick_tab a{}
.area_03 .pick_tab a:hover{text-decoration: underline;}
.area_03 .pick_tab .pick_btn{display: inline-block;font-size:19px;line-height: 26px;font-weight: 600;padding-left: 35px;position: relative;}
.area_03 .pick_tab .pick_btn:before{content:"\f058";display: block;width: 26px;height: 26px;font-family: 'Font Awesome 5 Free';font-weight: 900;font-size:26px;color: #999;position: absolute;top: 0px;left: 0;}

/* 21.08.09 */
.area_03 .pick_tab .pick_btn span {margin-left: 5px;}
.area_03 .pick_tab .pick_btn span img {vertical-align: middle;height:18px;margin-bottom: 3px;}

.area_03 .pick_lecture > li.active .pick_btn:before{color: #ffd947;}
.area_03 .pick_tab .more_btn{display: inline-block;top: 20px;right: 27px;}
.more_btn{}
.more_btn .square{display: inline-block;width: 23px;height: 23px;margin-left: 8px;box-sizing:border-box;border:1px solid #ccc;position: relative;vertical-align: middle;margin-top: -3px;}
.more_btn .square:before{content:"";display: block;height: 1px;width: 11px;background: #777;position: absolute;left: 5px;top: 10px;}
.more_btn .square:after{content:"";display: block;height: 12px;width: 1px;background: #777;position: absolute;left: 10px;top: 8px;margin-top: -3px;}
.area_03 .pick_lecture > li.active .pick_content{display: block;}
.area_03 .pick_content{display: none;position: absolute;top: 62px;left: -1px;width: calc(100% + 1px);padding: 24px 26px 22px;box-sizing:border-box;border:3px solid #ffd947;border-top:none;}
.area_03 .pick_content ul{}
.area_03 .pick_content ul li{float: left;width: 257px;margin-left:28px;}
.area_03 .pick_content ul li:first-child{margin-left: 0;}
.area_03 .pick_content ul li a{display: block;width: 100%;height: 100%;}
.area_03 .pick_thumb{width: 100%;height: 190px;overflow:hidden;position: relative;}
.area_03 .pick_thumb:after{content:"";display: block;width: 100%;height: 100%;background: rgba(0,0,0,0.3);position: absolute;top: 0;left: 0;opacity:1;transition:all .25s ease-out;}
.area_03 .pick_content ul li a:hover .pick_thumb:after{opacity:0}
.area_03 .pick_thumb img{width: 100%;height: 100%;}
.area_03 .pick_txt{padding: 3px 11px 8px 9px;background: #fff;transition:all .25s ease-out;box-sizing: border-box;}
.area_03 .pick_content ul li a:hover .pick_txt{background: #333;}
.area_03 .pick_txt p{}
.area_03 .pick_content ul li a:hover .pick_title{text-decoration: underline;}
.area_03 .pick_content ul li a:hover .pick_title{color: #fff;}
.area_03 .pick_txt .pick_title{font-size:15px;font-weight: 600;line-height: 24.5px;transition:all .25s ease-out;overflow: hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height:3em;}
.area_03 .pick_txt .pick_teacher{text-align: right;font-size:13px;color: #999;font-weight: 600;margin-top: 2px;}

.content_m > h2{font-size:28px;line-height: 28px;color:#333;text-align: center;text-transform: uppercase;position: relative; font-weight: 600;}
.content_m > h2:before{content:"";display: block;width: 100%;height: 1px;background:#858585;position: absolute;top:50%;left:0;z-index: 1}
.content_m > h2 span{display: inline-block; background: #fff; padding: 0 20px;position: relative;z-index: 2;}
.content_m h3{font-size:24px;line-height: 1;color:#333;padding: 50px 0 25px;font-weight: 600;}

.area_04 {position: relative;padding-bottom: 25px;}
.area_04 .best_lecture{width: 70px;}
.area_04 .best_lecture > li{display: inline-block;width: 70px;font-weight: 600;}
.area_04 .best_lecture > li > p{display: inline-block;text-align: center;width: 100%;height: 50px;line-height: 50px;font-size: 15px;box-sizing: border-box;}
.area_04 .best_lecture > li:first-child > p a{border-top:1px solid #ccc}
.area_04 .best_lecture > li:first-child > p a:hover,
.area_04 .best_lecture > li:first-child > p a.active{border-top:1px solid #ffd947}
.area_04 .best_lecture > li > p a{display: block;width: 100%;height: 50px;color:#999;transition:all .25s ease-out;border-bottom:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;box-sizing:border-box;position: relative;}
.area_04 .best_lecture > li > p a:hover,
.area_04 .best_lecture > li > p a.active {background: #ffd947;color:#333;border-left: 1px solid #ffd947;border-bottom: 1px solid #ffd947;border-right: 1px solid #ffd947;}
.area_04 .best_lecture > li > p a:hover:after,
.area_04 .best_lecture > li > p a.active:after{content:"";display: block;width: 100%;height: 1px;background: #ffd947;position: absolute;top: -1px;left: 0;}
.area_04 .best_lecture > li > div{position: absolute;top:99px;left: 70px;width: calc(100% - 70px);}
/* .area_04 .best_lecture > li > div h4{font-size: 23px;margin-top:30px;line-height: 23px;font-weight: 600;} */
.area_04 .best_lecture > li > div ul{position: relative;}
.area_04 .best_lecture > li > div ul.list_best{}
.area_04 .best_lecture > li > div ul.list_best li{position: relative;width:214px;height: 250px;box-sizing:border-box;float:left;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.area_04 .best_lecture > li > div ul.list_best li:first-child{}
.area_04 .best_lecture > li > div ul.list_best li:before,
.area_04 .best_lecture > li > div ul.list_best li:after{transition: all 0.25s ease-out;z-index:3;content:"";display:block;width:3px;height: 250px;position: absolute;top:0px;opacity:0; }
.area_04 .best_lecture > li > div ul.list_best li:before{left:-1px;background:#ffd947}
.area_04 .best_lecture > li > div ul.list_best li:after{right:-1px;background:#ffd947}
.area_04 .best_lecture > li > div ul.list_best li:hover:before,
.area_04 .best_lecture > li > div ul.list_best li:hover:after,
.area_04 .best_lecture > li > div ul.list_best li:hover .line_bg:before,
.area_04 .best_lecture > li > div ul.list_best li:hover .line_bg:after{opacity:1; }
.area_04 .best_lecture .list_best .tag_best{position: absolute;top: 0;right: 0;font-size:11px;font-weight: 800;color: #343434;letter-spacing:0;padding: 3px 8px;background: #ffd947;}
.area_04 .best_lecture > li > div ul.list_best li .line_bg:before,
.area_04 .best_lecture > li > div ul.list_best li .line_bg:after{opacity:0;transition:all .2s ease-out;z-index:3;content:"";display:block;width:214px;height: 3px;position: absolute;left:-1px;}
.area_04 .best_lecture > li > div ul.list_best li .line_bg:before{top:-1px;background:#ffd947}
.area_04 .best_lecture > li > div ul.list_best li .line_bg:after{bottom:-2px;background:#ffd947}
.area_04 .best_lecture > li > div ul.list_best li:first-child+li+li+li+li{margin-right:0;}
.area_04 .best_lecture > li > div ul.list_best li a{position: relative;overflow: hidden;padding: 10px 10px;display: block;width:100%;height:100% ;transition:all .25s ease-out;box-sizing:border-box;}
.area_04 .best_lecture > li > div ul.list_best li a p{word-break: keep-all;}
.area_04 .best_lecture > li > div ul.list_best li a p.best_t1{padding-right:21px;font-size:17px;color:#333;line-height: 20px;margin-bottom:6px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap: break-word;height: 2.4em;font-weight: 600;box-sizing:border-box;font-weight: 600;}
.area_04 .best_lecture > li > div ul.list_best li a p.best_t2{font-size:13px;color:#999;line-height: 18px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap: break-word;height: 2.8em;font-weight: 600;}
.area_04 .best_lecture > li > div ul.list_best li a p.best_name{font-size:14px;color:#333;width: 100%;padding: 12px 0;text-align: center;position: absolute;left: 0;bottom: 0;background: rgba(255,217,71,0.8);z-index:2;font-weight: 400;opacity:0;transition:all .25s ease-out;}
.area_04 .best_lecture > li > div ul.list_best li:hover a p.best_name{opacity:1}
.area_04 .best_lecture > li > div ul.list_best li a img{position: absolute;bottom:-1px;left:61px;height:169px;}
.area_04 .best_lecture > li > div ul.list_new{width:245px;position: absolute;top: 0;right: 0;}
.area_04 .best_lecture > li > div ul.list_new li{height: 82px;border-right:1px solid #ccc;border-bottom:1px solid #ccc;font-weight: 600;position: relative;}
.area_04 .best_lecture > li > div ul.list_new li:first-child{border-top:1px solid #ccc;}
.area_04 .best_lecture > li > div ul.list_new li a{display: block;width:100%;height:100% ;padding:21px 15px;box-sizing: border-box;}
.area_04 .best_lecture > li > div ul.list_new li a:before{content:"";display: block;width: 100%;height: 3px;background: #ffd947;position: absolute;top: -1px;left: 1px;opacity:0;transition:all .25s ease-out;}
.area_04 .best_lecture > li > div ul.list_new li a:after{content:"";display: block;width: 100%;height: 3px;background: #ffd947;position: absolute;bottom: -1px;left: 1px;opacity:0;transition:all .25s ease-out;}
.area_04 .best_lecture > li > div ul.list_new li:before{content:"";display: block;width: 3px;height: 100%;background: #ffd947;position: absolute;top: -1px;left: 0;opacity:0;transition:all .25s ease-out;}
.area_04 .best_lecture > li > div ul.list_new li:after{content:"";display: block;width: 3px;height: 100%;background: #ffd947;position: absolute;top: -1px;right: -1px;opacity:0;transition:all .25s ease-out;}
.area_04 .best_lecture > li > div ul.list_new li:hover a:before,
.area_04 .best_lecture > li > div ul.list_new li:hover a:after,
.area_04 .best_lecture > li > div ul.list_new li:hover:before,
.area_04 .best_lecture > li > div ul.list_new li:hover:after{opacity:1;}
.area_04 .best_lecture > li > div ul.list_new li a p{font-weight: 600;}
.area_04 .best_lecture > li > div ul.list_new li a p.new_name{font-size:15px;color:#1ca09c;margin-bottom:5px;}
.area_04 .best_lecture > li > div ul.list_new li a p.new_tit1{font-size:13px;color:#333;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.tag_new{display: inline-block;width: 17px;height: 17px;font-size:11.2px;color: #ff007f;font-weight: 600;border-radius:50%;border:1px solid #ff007f;text-align: center;box-sizing:border-box;margin-left: 5px;vertical-align: middle;line-height: 15px;margin-top: -3px;}

.area_06{padding-bottom: 92px;}
.area_06 > div{float: left;position: relative;}
.area_06 .book_box.type01{width: 735px;}
.area_06 .book_box.type02{width: 435px;height: 310px;margin: 68px 0 0 0;padding: 22px 23px 22px 22px;border:1px solid #ccc;background: #fff;box-sizing:border-box;position: relative;}
.area_06 .book_box .book_block{height: 310px;padding: 22px 0 22px 25px;border:1px solid #ccc;border-right: none;background: #fff;box-sizing:border-box;position: relative;}
.area_06 .book_box .book_block:after{content:"";display: block;width: 24px;height: calc(100% + 2px);background: #f8f8f8;position: absolute;top:-1px;right:0;border-left: 1px solid #ccc;z-index:10;}
.area_06 .book_box .book_block:before{content:"";display: block;width: 24px;height: 100%;background: #fff;position: absolute;top:0;left:0;z-index:10}
.area_06 .book_box h4{font-size:19px;font-weight: 600;margin-bottom: 13px;}
.area_06 .book_box ul{width: 100%;}
.area_06 .book_box.type01 ul{margin-left:-25px}
.area_06 .book_box ul.pub_list li{width: 129px;margin:0 25px;box-sizing:border-box;background: #fff;border:1px solid transparent;transition:all .1s linear;position: relative;overflow:hidden;}
/* .area_06 .book_box ul.pub_list li:hover{border:1px solid #743579} */
.area_06 .book_box ul.pub_list li a{display: block;width: 100%;height: 100%;box-sizing: border-box;font-weight: 600;}
.area_06 .book_box ul.pub_list li a p{}
.area_06 .book_box ul.pub_list li a p.pub_name{font-size:14px;color:#743579;line-height: 14px;margin-bottom:11px;display: none;}
.area_06 .book_box ul.pub_list li a p.pub_tit1{font-size:15px;color:#333;line-height: 19px;margin-bottom:9px; overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap: break-word;word-break: keep-all}
.area_06 .book_box ul.pub_list li a p.pub_tit2{font-size:13px;color:#999;line-height: 13px;}
.area_06 .book_box ul.pub_list li a img{display: inline-block;width: calc(100% + 11px);margin-bottom: 8px;position: relative;left: 50%;transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);}
.area_06 .book_box ul.book_list{position:relative;}
.area_06 .book_box ul.book_list > li{display: inline-block;float: left;width: 50%;box-sizing: border-box;}
.area_06 .book_box ul.book_list > li > p{display: inline-block;text-align: center;width: 100%;font-size:20px;color:#999;margin:13px 0;}
.area_06 .book_box ul.book_list > li > p >a{font-size:20px;color:#999;transition: all .2s linear;border-bottom:1px solid transparent}
.area_06 .book_box ul.book_list > li:first-child > p{position: relative;border-right:1px solid #ccc;position: relative;}
.area_06 .book_box ul.book_list > li:first-child > p:before{content:"";display: block;width: 200%;height: 1px;background: #ccc;position: absolute;top:39px;left:0;}
.area_06 .book_box ul.book_list > li > p>a.active,
.area_06 .book_box ul.book_list > li > p>a:hover{color:#743579;border-bottom:1px solid #743579;}
.area_06 .book_box ul.book_list li a.dep01_tit{}
.area_06 .book_box ul.book_list ul.list_dep_02{position:absolute;top:0;left:0;width:100%;}
.area_06 .book_box ul.book_list ul.list_dep_02:before{content:"";display: block;width:100%;height: 2px;background:#eee;position:absolute;top:28px;left:0;width:100%;}
.area_06 .book_box ul.book_list > li > ul > li{float: left;box-sizing: border-box;}
.area_06 .book_box ul.book_list > li > ul > li:first-child p > a{padding-left:7px;}
.area_06 .book_box ul.book_list > li > ul > li > p > a{display: block;padding: 0 18px;}
.area_06 .book_box ul.book_list > li > ul > li > p{display: inline-block;width: 100%;text-align: center;font-weight: 600;}
.area_06 .book_box ul.book_list li ul li a.dep02_tit{font-size:15px;color:#999;line-height: 26px;transition: all .1s linear;position: relative;}
.area_06 .book_box ul.book_list li ul li a.dep02_tit:hover,
.area_06 .book_box ul.book_list li ul li a.dep02_tit.active{color:#333;}
.area_06 .book_box ul.book_list li ul li a.dep02_tit.active:after{content:"";display: block;width: 42px;height: 2px;background: #1ca09c;position: absolute;bottom: -4px;right: 9px;}
.area_06 .book_box ul.book_list li ul li ul.list_dep_03{}
.area_06 .book_box ul.list_dep_03{width: 100%;position: absolute;top:30px;left:0;box-sizing: border-box;padding: 9px 0;min-height:180px;}
.area_06 .book_box ul.list_dep_03 li a{color:#333;}
.area_06 .book_box .more_btn{top:22px;right: 23px;}

.content_m.area_07{padding: 50px 0 70px;}
.area_07 .inner_box{width: 100%;}
.area_07 .inner_box > div{float: left;width: 50%;box-sizing: border-box;}
.area_07 .inner_box .box01{padding-left: 11px;}
.area_07 .info_box{overflow:hidden;}
.area_07 .info_box p{float: left;}
.area_07 .info_box h3{float: left;margin-right: 15px;padding: 0 0 20px;}
.area_07 .info_time{font-size:15px;color: #999;margin-left: 10px;padding-top: 8px;font-weight: 600;}
.area_07 .inner_box .box03 > div{width: 100%;box-sizing:border-box}
.area_07 .inner_box .box03 h3{padding: 0 0 20px;}
.area_07 .inner_box .box03 .banner_bottom{position: relative;}
.area_07 .inner_box .box03 .banner_bottom span{width: 34px;height:34px;display: block;background: url(/htmlRes/images/user/high/main/banner_more.png) no-repeat center;position:absolute;top:0;right:-1px;}
.area_07 .inner_box .box03 .banner_bottom img{width: 100%;border:1px solid #bfbfbf;}
.area_07 .inner_box .box03 .block{position: relative;padding-right: 12px;}
.area_07 .inner_box .box03 .block.type2 ul{box-sizing: border-box;}
.area_07 .inner_box .box01 .service{border-top: 1px solid #ccc;}
.area_07 .inner_box .box01 .service li{float: left;width: 50%;height: 75px;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;box-sizing:border-box;background-position:right 23px center;background-repeat:no-repeat;}
.area_07 .inner_box .box01 .service li:nth-of-type(2n){border-right: 1px solid #ccc;}
.area_07 .inner_box .box01 .service li:nth-of-type(1){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_01.png); }
.area_07 .inner_box .box01 .service li:nth-of-type(2){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_02.png); }
.area_07 .inner_box .box01 .service li:nth-of-type(3){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_03.png); }
.area_07 .inner_box .box01 .service li:nth-of-type(4){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_04.png); }
.area_07 .inner_box .box01 .service li:nth-of-type(5){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_05.png); }
.area_07 .inner_box .box01 .service li:nth-of-type(6){background-image: url(/htmlRes/images/user/common/main/2020/icon_info_06.png); }
.area_07 .inner_box .box01 .service li a{display: block;padding:19px 18px;box-sizing:border-box;}
.area_07 .inner_box .box01 .service li p{line-height: 1.1em;}
.area_07 .inner_box .box01 .service_name{font-size:15px;font-weight: 600;margin-bottom: 6px;}
.area_07 .inner_box .box01 .service_info{font-size:13px;color: #999;}

.area_06 h3{padding:23px 0 21px;}
.area_06 .book_box ul.list_dep_03 li{font-size:13px;padding:0px 0px 0px 18px;position: relative;font-weight: 400;line-height:32.5px;height: 32.5px;}
.area_07 .inner_box .box03 ul li{font-size:15px;padding:0px 0px 0px 15px;position: relative;line-height:45px;height: 45px;letter-spacing:-0.025em;border-bottom:1px solid #ccc;box-sizing:border-box;overflow: hidden;}
.area_07 .inner_box .box03 ul li:first-child{border-top:1px solid #ccc}
.area_06 .book_box ul.list_dep_03 li:before,
.area_07 .inner_box .box03 .block.type2 ul li:before{content:"";display: block;width: 4px;height: 4px;border-radius: 50%;background: #777;position: absolute;top:9px;left:0;}
.area_07 .inner_box .box03 .block.type2 ul li:before{top: 20px;}
.area_06 .book_box ul.list_dep_03 li:before{top:13px;}
.area_06 .book_box ul.list_dep_03 li{font-weight: 400; line-height: 32.5px;padding:0px 0px 0px 17px;height: 32.5px;border-top:1px solid #eee;box-sizing:border-box;}
.area_06 .book_box ul.list_dep_03 li:first-child{border: none;}
.area_06 .book_box ul.list_dep_03 li a,
.area_07 .inner_box .box03 .block.type2 ul li a{color:#333;width:77%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.area_06 .book_box ul.list_dep_03 li a{width:95% }
.area_06 .book_box ul.list_dep_03 li a,
.area_07 .inner_box .box03 .block.type2 ul li a{color:#333;width:77%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.area_06 .book_box ul.list_dep_03 li a:hover,
.area_07 .inner_box .box03 .block.type2 ul li a:hover{text-decoration: underline;}
.area_07 .inner_box .box03 .block.type2 ul li .date{font-size:13px;color:#999;float: right;}
.area_07 .inner_box .box03 .block.type2 .more_btn{top:4px;right:11px;}

.area_08{margin-top: -67px;}
.area_08 button{top:50%;margin-top: -13px;}
.area_08 .slick-prev{left: 8px;}
.area_08 .slick-next{right: 8px;}

/* footer */
.footer{width:100%; min-width:1170px; background:#f2f2f2;border-top:1px solid #ccc;letter-spacing:-0.025em;font-weight: 400;}
.footer > div{width:1170px;margin: 0 auto;padding: 39px 0 37px;}
.footer_logo{ float: left;margin-right: 50px;}
.footer_info {float: left;padding: 0 0;}
.footer_info .footer_link li {float: left;position: relative;padding-right:16px;margin-right: 17px;}
.footer_info .footer_link li:after {content:"";display: block;width: 1px;height: 12px;background: #d9d9d9;position: absolute;top:2px;right:0;}
.footer_info .footer_link li:first-child+li+li+li+li:after,
.footer_info .footer_link li:first-child+li+li+li+li+li:after {display:none;}
.footer_info .footer_link li:first-child+li+li+li+li {margin-right:20px}
.footer_info .footer_link li a {font-size: 13px;color:#777}
.footer_info .footer_link li a:hover {text-decoration: underline;}
.footer_info .footer_link li:first-child a{color:#0a837f}
.footer_info .footer_link li:first-child+li+li+li a{color:#0a837f}
.footer_info address {margin-top: 15px;}
.footer_info address p {font-size: 13px;color: #777;line-height: 20px;}

/* 媛뺤쥖 �곹깭 */
.label-chk {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#545454;color:#fff}
.label-new {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#f25454;color:#fff}
.label-play {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#d91404;color:#fff}
.label-plan {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#265bbc;color:#fff}
.label-free {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#009e96;color:#fff}
.label-caption {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#786060;color:#fff}
.label-del {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#bbbbbb;color:#fff}
.label-required {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#b9271b;color:#fff}
.label-etc {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#858585;color:#fff}
.label-event {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#f25454;color:#fff}
.label-lecture {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#f25454;color:#fff}
.label-counsel {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#6b9ce5;color:#fff}
.label-n {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#ff6d2c;color:#fff}
.label-answer {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#2ea49d;color:#fff}
.label-wait {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#ee600a;color:#fff}
.label-ing {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#6b9ce5;color:#fff}
.label-done {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#545454;color:#fff}
.label-write1 {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#522656;color:#fff}
.label-write2 {display:inline-block;padding:0 4px;font-size:12px;line-height: 19px;font-weight: 400;background-color:#c26d21;color:#fff}

/* 鍮꾨뵒�� �덉쭏 */
.video-low {display:inline-block;font-size:12px;color:#375587;border:1px solid #375587; padding:1px 8px 1px 8px;margin-top:3px;font-weight: 400}
.video-low:hover, .video-low:focus {color:#375587 !important;text-decoration: none !important;}
.video-high {display:inline-block;font-size:12px;color:#f25454;border:1px solid #f25454; padding:1px 8px 1px 8px;margin:3px 2px 0 0;font-weight: 400}
.video-high:hover, .video-high:focus {color:#f25454 !important;text-decoration: none !important;}

/* search lecture */
.layer_lecture.active, .layer_book.active {display: block}
.layer_lecture, .layer_book {z-index:10; position:absolute; left:50%; top:306px; padding:33px; margin-left:-585px;border:1px solid #ccc; background:#fff;display: none;width: 1170px;box-sizing: border-box;}
.layer_lecture .tab, .layer_book .tab{height: 50px; line-height: 48px; margin-bottom:25px; }
.layer_lecture .tab:after, .layer_book .tab:after {clear:both; content:""; display:block; visibility:hidden; }
.layer_lecture .tab li, .layer_book .tab li {float:left; font-size:0; }
.layer_lecture .tab li:first-child a, .layer_book .tab li:first-child a{border-left: 1px solid #ccc;}
.layer_lecture .tab li a, .layer_book .tab li a {display:inline-block; width:249px; height:48px; line-height: 48px;color:#777;float: left; cursor: pointer; font-size: 16px; text-align: center; border-right: 1px solid #ccc; border-top: 1px solid #ccc;border-bottom:1px solid #ccc;}
.layer_lecture .tab li a.on, .layer_book .tab li a.on {color:#fff; border: 1px solid #743579;  background-color: #743579;}
.layer_lecture .cmt, .layer_book .cmt {float: left;color:#777; font-size:13px; line-height: 39px;}
.layer_lecture .item > div, .layer_book .item > div {float: left;}
.layer_lecture .condition3, .layer_book .condition3 {margin-right:10px;}
.layer_lecture .condition3 > ul:after, .layer_book .condition3 > ul:after {clear:both; content:""; display:block; visibility:hidden; }
.layer_lecture .condition3 > ul > li, .layer_book .condition3 > ul > li {float:left; width: 167px;}
.layer_lecture .condition3 > ul > li > a, .layer_book .condition3 > ul > li > a {display:block; height:37px; border:1px solid #ccc; border-right:0; color:#777; font-size:15px; font-weight: bold; text-align:center; line-height:37px; background:#f5f5f5;}
.layer_lecture .condition3 > ul > li > a.last, .layer_book .condition3 > ul > li > a.last {border-right:1px solid #ccc;}
.layer_lecture .condition3 > ul > li > a span, .layer_book .condition3 > ul > li > a span {display:block; }
.layer_lecture .condition3 > ul > li ul, .layer_book .condition3 > ul > li ul {overflow:scroll; overflow-x:hidden; float:left; width: 166px; height:278px; border-right:1px solid #ccc; border-bottom:1px solid #ccc;}
.layer_lecture .condition3 > ul > li:first-child ul, .layer_book .condition3 > ul > li:first-child ul {border-left:1px solid #ccc;}
.layer_lecture .condition3 > ul > li ul li a, .layer_book .condition3 > ul > li ul li a {display:block; padding:6px 20px; font-size:13px; font-weight: 400; text-align:left; color:#777;}
#srh_typebox_Lec1 li:hover, #srh_typebox_Book1 li:hover{background: #fff7da; color: #fff;}
#srh_typebox_Lec1 li a.on, #srh_typebox_Book1 li a.on{background: #fff7da; color: #333;}
.srh_typebox li:hover, .srh_tchlist li:hover{background: #fff7da; color: #fff;}
.condition3 > ul > li ul.srh_typebox li.on, 
.condition3 > ul > li ul.srh_tchlist li.on{background: #7d95d1; color: #fff;}
.condition3 > ul > li ul li a.on {color:#333; background:#fff7da;}
.condition3 > ul > li ul.srh_tchlist li a:hover,
.condition3 > ul > li ul.srh_tchlist li a.on {color:#333; background:#ffd947;}
.result .top a {position:absolute; right:8px; top:8px; }
.result .top h3 {padding-left:25px; color:#fff; font-size:14px; text-align:left; line-height:42px; }
.result .listbox {overflow:auto; overflow-x:hidden; height:137px; padding:14px 0; border:1px solid #bebebe; border-top:0; }
.result .listbox table {width:100%; }
.result .listbox table td {font-size:14px; text-align:left; }
.result .listbox table td a {color:#333; }
.result .listbox table td a:hover {text-decoration:underline; }
.result .listbox table td img {margin-right:6px; }
.result .listbox table td.txt {padding:6px 0 6px 32px; }
.result .listbox table td.txt span.deldate {display: inline-block;height: 19px;padding: 0 7px;background: #30719f;border-radius: 3px;color: #fff;line-height: 19px;font-size:12px;}
.result .listbox table .nodata td {padding:0; padding-top:57px; text-align:center; }
.result2 .top {position:relative; border: 1px solid #ccc;}
.result2 .top a {position:absolute; right:-1px; top:-1px; background: #fff;}
.result2 .top h3 {color:#fff; font-size:15px; font-weight: 600; text-align:center; line-height:37px; background: #777;}
.result2 .listbox {overflow:scroll; overflow-x:hidden; width:589px; height:250px; padding:14px 0; border:1px solid #ccc; border-top:0; }
.result2 .listbox.wide {width: 756px;}
.result2 .listbox table {width:100%; }
.result2 .listbox table td {font-size:13px; text-align:left; line-height: 15px;height: 19px;}
.result2 .listbox table td > span{display: inline-block;}
.result2 .listbox table td a {text-align: center;}
.result2 .listbox table td a:hover {text-decoration:underline; color: #265bbc;}
.result2 .listbox table td img {margin-right:6px; }
.result2 .listbox table td.txt {padding:5px 0 6px 19px; }
.result2 .listbox table td.txt a {display:inline-block; overflow:hidden; max-width:320px;  padding-left:20px; text-align: left; font-size:13px; color:#555;white-space:nowrap; text-overflow:ellipsis; vertical-align: middle}
.result2 .listbox table td.txt a:hover {color:#6d87c0;}
.result2 .listbox table .nodata td {padding:0; padding-top:57px; text-align:center; }
.layer_lecture .book .result2 .listbox li,
.layer_book .book .result2 .listbox li {
    position: relative;
    width: 698px;
    height: 77px;
    margin: 15px 0 15px 20px;
    padding-left: 82px;
    border-bottom: 1px solid #ccc;
    text-align: left;
    box-sizing: border-box;
}
.layer_lecture .book .result2 .listbox li .pic,
.layer_book .book .result2 .listbox li .pic {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 68px;
    height: 62px;
}
.layer_lecture .book .result2 .listbox li .pic img,
.layer_book .book .result2 .listbox li .pic img {
    max-width: 100%;
    width: 54px;
    height: 72px;
}
.layer_lecture .book .result2 .listbox li .title,
.layer_book .book .result2 .listbox li .title {
    display: block;
    overflow: hidden;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.layer_lecture .book .result2 .listbox li span,
.layer_book .book .result2 .listbox li span {
    color: #555;
    font-family: Nanum Gothic, sans-serif;
    font-size: 11px;
    line-height: 20px;
}
.layer_lecture .book .result2 .listbox li span strong,
.layer_book .book .result2 .listbox li span strong {
    font-weight: bold;
}
.layer_top{margin-bottom: 25px;}
/* search book */
.layer_lecture .book .result .top, .layer_book .book .result .top {position:relative; border: 1px solid #ccc;}
.layer_lecture .book .result .top a, .layer_book .book .result .top a {position:absolute; right:-1px; top:-1px; }
.layer_lecture .book .result .top h3, .layer_book .book .result .top h3 {color:#777; font-size:15px; font-weight: 600; text-align:center; line-height:37px; background: #f5f5f5;}
.layer_lecture .condition3 > ul > li ul#srh_typebox_Book4, .layer_book .condition3 > ul > li ul#srh_typebox_Book4{border-right: 1px solid #ccc;}
.layer_lecture .book .condition > ul > li ul li a.on, .layer_book .book .condition > ul > li ul li a.on {color:#fff; background:#21a69e; }
.layer_lecture .book .result .listbox02, .layer_book .book .result .listbox02 {overflow:auto; overflow-x:hidden; width:1165px; height:140px; /* padding:25px 0 0 34px; */ border:1px solid #bebebe; border-top:0; }
.layer_lecture .book .result .listbox02 li, .layer_book .book .result .listbox02 li {float:left; position:relative; width:287px; height:77px; margin:0 48px 15px 0; padding-left:82px; border-bottom:1px solid #ccc; text-align:left; }
.layer_lecture .book .result .listbox02 li span, .layer_book .book .result .listbox02 li span {color:#555; font-family:Nanum Gothic, sans-serif; font-size:11px; line-height:20px; }
.layer_lecture .book .result .listbox02 li span strong, .layer_book .book .result .listbox02 li span strong {font-weight:bold; }
.layer_lecture .book .result .listbox02 li .pic, .layer_book .book .result .listbox02 li .pic {display:block; position:absolute; left:0; top:0; width:68px; height:62px; }
.layer_lecture .book .result .listbox02 li .pic img, .layer_book .book .result .listbox02 li .pic img {max-width:100%; width: 54px; height: 72px; }
.layer_lecture .book .result .listbox02 li .title, .layer_book .book .result .listbox02 li .title {display:block; overflow:hidden; margin-bottom:5px; color:#335bad; font-size:14px; white-space:nowrap; text-overflow:ellipsis; }
.layer_lecture .book .result .listbox02 li .title:hover, .layer_book .book .result .listbox02 li .title:hover {text-decoration:underline; }
.layer_lecture .book .result .listbox02 li.even, .layer_book .book .result .listbox02 li.even {margin-right:0; }
.layer_lecture .book .result .listbox02 li.nodata, .layer_book .book .result .listbox02 li.nodata {float:none; padding:48px 0 0 304px; border:0; font-size:14px; }
.layer_lecture .btn_cl, .layer_book .btn_cl {float: right;cursor:pointer;}
