@charset "utf-8";

/* Reset */
html,body{width:100%; height:100%;}
html{overflow-y:scroll;font-size:13px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
body,h1,h2,h3,h4,input,button{font-size:12px;color:#333;letter-spacing: -0.05em;}
header,section,article,footer,time,nav{display:block;}
body{word-break:break-all; -ms-word-break:break-all; font-family: "Nanum Gothic", sans-serif;}
h2,h3,h4,h5,.tit,.cmm_tit{font-family: "Nanum Square", sans-serif;}
img,fieldset,iframe{border:0 none}
li{list-style:none}
input,select,button{vertical-align:middle}
input,select,button,textarea{font-family: "Nanum Gothic", sans-serif;}
img{vertical-align:middle;}
i,em,address{font-style:normal}
label,button{cursor:pointer}
button{margin:0;padding:0;border:none;background:transparent;}
a{color:inherit;text-decoration:none;color: #333;}
a:hover,a:focus,a:active{text-decoration:none;}
button *{position:relative}
legend,caption{width:1px; height:1px; position:absolute; top:-9999em; left:-9999em; color:rgba(0,0,0,0); opacity:0;}
table{border-collapse:collapse;border-spacing:0;table-layout: fixed; width: 100%;}
input::-ms-clear{display:none}

.MT00 {margin-top:0px!important}
.MT05 {margin-top:5px!important}
.MT10 {margin-top:10px!important}
.MT15 {margin-top:15px!important}
.MT20 {margin-top:20px!important}
.MT25 {margin-top:25px!important}
.MT30 {margin-top:30px!important}
.MT35 {margin-top:35px!important}
.MT40 {margin-top:40px!important}
.MT45 {margin-top:45px!important}
.MT50 {margin-top:50px!important}
.MT55 {margin-top:55px!important}
.MT60 {margin-top:60px!important}
.MT65 {margin-top:65px!important}
.MT70 {margin-top:70px!important}
.MT75 {margin-top:75px!important}
.MT80 {margin-top:80px!important}
.MT85 {margin-top:85px!important}
.MT90 {margin-top:90px!important}
.MT95 {margin-top:95px!important}

.MB00 {margin-bottom:0px!important}
.MB05 {margin-bottom:5px!important}
.MB10 {margin-bottom:10px!important}
.MB15 {margin-bottom:15px!important}
.MB20 {margin-bottom:20px!important}
.MB25 {margin-bottom:25px!important}
.MB30 {margin-bottom:30px!important}
.MB35 {margin-bottom:35px!important}
.MB40 {margin-bottom:40px!important}
.MB45 {margin-bottom:45px!important}
.MB50 {margin-bottom:50px!important}
.MB55 {margin-bottom:55px!important}
.MB60 {margin-bottom:60px!important}
.MB65 {margin-bottom:65px!important}
.MB70 {margin-bottom:70px!important}
.MB75 {margin-bottom:75px!important}
.MB80 {margin-bottom:80px!important}
.MB85 {margin-bottom:85px!important}
.MB90 {margin-bottom:90px!important}
.MB95 {margin-bottom:95px!important}

.MR00 {margin-right:0!important}
.MR05 {margin-right:5px!important}
.MR08 {margin-right:8px!important}
.MR10 {margin-right:10px!important}
.MR15 {margin-right:15px!important}
.MR20 {margin-right:20px!important}
.MR25 {margin-right:25px!important}
.MR30 {margin-right:30px!important}
.MR35 {margin-right:35px!important}
.MR40 {margin-right:40px!important}
.MR45 {margin-right:45px!important}
.MR50 {margin-right:50px!important}
.MR55 {margin-right:55px!important}
.MR60 {margin-right:60px!important}
.MR65 {margin-right:65px!important}
.MR70 {margin-right:70px!important}
.MR75 {margin-right:75px!important}
.MR80 {margin-right:80px!important}
.MR85 {margin-right:85px!important}
.MR90 {margin-right:90px!important}
.MR95 {margin-right:95px!important}

.ML00 {margin-left:0!important}
.ML05 {margin-left:5px!important}
.ML08 {margin-left:8px!important}
.ML10 {margin-left:10px!important}
.ML15 {margin-left:15px!important}
.ML20 {margin-left:20px!important}
.ML25 {margin-left:25px!important}
.ML30 {margin-left:30px!important}
.ML35 {margin-left:35px!important}
.ML40 {margin-left:40px!important}
.ML45 {margin-left:45px!important}
.ML50 {margin-left:50px!important}
.ML55 {margin-left:55px!important}
.ML60 {margin-left:60px!important}
.ML65 {margin-left:65px!important}
.ML70 {margin-left:70px!important}
.ML75 {margin-left:75px!important}
.ML80 {margin-left:80px!important}
.ML85 {margin-left:85px!important}
.ML90 {margin-left:90px!important}
.ML95 {margin-left:95px!important}

.PB20{padding-bottom:20px!important}

.TXTL {text-align:left!important}
.TXTR {text-align:right!important}
.TXTC {text-align:center!important}

.BOLD,
.bold {font-weight:600!important}

.V_ALIGN {display:inline-block;vertical-align:middle;height:100%}
.V_ALIGN.BOTTOM {vertical-align:bottom}

.clearfix:after{content:''; display:block; clear: both;}
.hidetxt{width:0;height:0;overflow:hidden;line-height:0;position:absolute;left:-999em}
.underline{text-decoration:underline;}
/* slick 珥덇린�� */
.slick-vertical .slick-slide, .slick-initialized .slick-slide{outline:none !important;}

.blind,
.hidden{width:1px; height:1px; opacity:0; color:rgba(0,0,0,0); position:absolute; top:-9999em; left:-9999em; text-indent:-9999em;}

.dis_none{display: none;}

.text-white{color:#fff!important}
.text-blue {color:#1CA09C!important}
.text-green {color:#82a805!important}
.text-purple {color:#743579!important}
.text-orange {color:#eb8932!important}

.border-blue{border:1px solid #3964ac !important}

.text-red {color:#d91c1c!important}
.text-mint {color:#1ca09c!important}
.text-yellow {color:#f2ac07!important}

/*2020*/
.yellow{background-color: #ffd947;}
.black{background-color: #333;}
.teal{background-color: #1ba09b;}
/*//2020*/
.purple{background-color:#743579!important}
.orange{background-color:#eb8932!important}
.blue{background-color:#3964ac!important}
.gray{background-color:#777!important}
/*2021.11.23 �뱁쁽��*/
.redL{background-color:#ff5656!important}
/*2021.08.04*/
a.white {color:#fff}

.bg_gray{background-color: #f8f8f8;}
.pd30{padding:30px;box-sizing:border-box;}
.pd0{padding:0 !important;}
.pl0{padding-left:0 !important;}

.fll{float: left;}
.flr{float: right;}

/*以묐벑遺� �숇뀈蹂�*/
.text-mid1 {color:#f96f52!important}
.text-mid2 {color:#479b3d!important}
.text-mid3 {color:#268eb1!important}
.text-preM1 {color:#858585!important}
.text-preH1 {color:#505f7e!important}
.text-total {color:#16a086!important}

/* 梨쀫큸 */
.chatbotbox {position: absolute; right:50%; top:333px; margin-right: -704px;display: block;z-index: 10;width: 100px; height:auto;}
.chatbotbox li{margin-bottom: 15px;position: relative;}
.chatbotbox a {display: block;}
.chatbotbox a img {vertical-align: top;width: 100%;}
.chatbotbox .chatbotclose {width: 25px;height: 25px;background: #333;border-radius:50%;position: absolute;top: -12px;right: -12px;}
.chatbotbox .chatbotclose:before {content:"";display: block;width: 13px;height: 2px;background: #fff;position: absolute;top: 12px;left: 6px;transform:rotate(45deg)}
.chatbotbox .chatbotclose:after{content:"";display: block;width: 13px;height: 2px;background: #fff;position: absolute;top: 12px;right: 6px;transform:rotate(-45deg)}
