@charset "utf-8";

/* header */
.header_renewal {position: absolute; top: 0; left: 0; width: 100%;}
.header_renewal  > div {border-bottom: 1px solid #f0f0f0;}
.header_renewal .header_top {}
.header_renewal .header_top .inner {display: flex; justify-content: space-between; align-items: center; height: 47px;}
.header_renewal .header_top .inner .info_btn {}
.header_renewal .header_top .inner .info_btn ul {display: flex;}
.header_renewal .header_top .inner .info_btn ul li {position: relative; padding-left: 12px; margin-left: 12px;}
.header_renewal .header_top .inner .info_btn ul li a {font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 14px; color: #333;}
.header_renewal .header_top .inner .info_btn ul li::before {content: ''; position: absolute; top: 0; left: 0; width: 1px; height: 10px; background-color: #dcdcdc;}
.header_renewal .header_top .inner .info_btn ul li:first-of-type {padding-left: 0; margin-left: 0;}
.header_renewal .header_top .inner .info_btn ul li:first-of-type::before {display: none;}
.header_renewal .header_top .inner .user_btn {}
.header_renewal .header_top .inner .user_btn ul {display: flex;}
.header_renewal .header_top .inner .user_btn ul li {position: relative; padding-left: 12px; margin-left: 12px;}
.header_renewal .header_top .inner .user_btn ul li::before {content: ''; position: absolute; top: 0; left: 0; width: 1px; height: 10px; background-color: #dcdcdc;}
.header_renewal .header_top .inner .user_btn ul li:first-of-type {padding-left: 0; margin-left: 0;}
.header_renewal .header_top .inner .user_btn ul li:first-of-type::before {display: none;}
.header_renewal .header_top .inner .user_btn ul li a {font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: #888;}
.header_renewal .header_logo {}
.header_renewal .header_logo .inner {display: flex; justify-content: space-between; align-items: center; height: 88px;}
.header_renewal .header_logo .inner .logo {display: flex; align-items: center;}
.header_renewal .header_logo .inner .logo h1 {margin-right: 20px;}
.header_renewal .header_logo .inner .switch_area {display: flex; align-items: center;}
.header_renewal .header_logo .inner .switch_area > div {}
.header_renewal .header_logo .inner .switch_area > div.txt {margin-right: 15px; font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 18px; color: #17978b;}
.header_renewal .header_logo .inner .switch_area > div.onoff {display: flex; justify-content: center; align-items: center; width: 144px; height: 40px; border: 2px solid #17978b; border-radius: 20px;}
.header_renewal .header_logo .inner .switch_area > div.onoff > a {display: flex; justify-content: center; align-items: center; width: calc(50% - 2px); font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 16px; color: #17978b; text-align: center;}
.header_renewal .header_logo .inner .switch_area > div.onoff > a.active {height: calc(100% - 4px); background-color: #17978b; border-radius: 18px; color: #fff;}


.header_renewal .header_gnb {position: relative;}
.header_renewal .header_gnb > .inner {position: static;}
.header_renewal .header_gnb .inner .gnb_area {}
.header_renewal .header_gnb .inner .gnb_area nav {}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 {display: flex; justify-content: center;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li {margin-left: 85px;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li.active {}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li:first-of-type {margin-left: 0;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li > span {display: block; position: relative; height: 53px; text-align: center;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li > span > a {display: flex; align-items: center; height: 100%; font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 18px; color: #333;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li.active > span::before {content: ''; position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 150px; height: 100%; background-color: #28426f;}
.header_renewal .header_gnb .inner .gnb_area nav .depth01 > li.active > span > a {position: relative; color: #fff;}















.header_renewal .header_search {}
.header_renewal .header_search .inner {display: flex; justify-content: space-between; align-items: center; height: 66px;}
.header_renewal .header_search .inner .left {display: flex; justify-content: center; align-items: center;}
.header_renewal .header_search .inner .left .search_area_k {margin-right: 20px;}
.header_renewal .header_search .inner .left .search_area_k > div {position: relative;}
.header_renewal .header_search .inner .left .search_area_k > div input[type="text"] {box-sizing: border-box; width: 300px; height: 48px; padding: 0 50px 0 30px; border: 2px solid #28426f; border-radius: 25px; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; }
.header_renewal .header_search .inner .left .search_area_k > div input[type="text"]::placeholder {color: #888;}
.header_renewal .header_search .inner .left .search_area_k > div input[type="text"]::-webkit-input-placeholder {color: #888;}
.header_renewal .header_search .inner .left .search_area_k > div input[type="text"]:-ms-input-placeholder {color: #888;}
.header_renewal .header_search .inner .left .search_area_k > div input[type="text"]:-mos-input-placeholder {color: #888;}
.header_renewal .header_search .inner .left .search_area_k > div button {position: absolute; top: 50%; right: 21px; transform: translateY(-50%); width: 20px; height: 20px; background: url(/220518/images/search.png);}
.header_renewal .header_search .inner .left .search_toggle_k {}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area {}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul {display: flex;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li {position: relative; padding-left: 14px; margin-left: 14px;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li:first-of-type {padding-left: 0; margin-left: 0;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li::before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 14px; background-color: #066fa7;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li:first-of-type::before {display: none;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li button {font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: #066fa7;}
.header_renewal .header_search .inner .left .search_toggle_k .btn_area ul li.is_active {} 
.header_renewal .header_search .inner .left .search_toggle_k .toggle_area {}
.header_renewal .header_search .inner .left .search_toggle_k .toggle_area ul {width: 100%; height: 100%;}
.header_renewal .header_search .inner .left .search_toggle_k .toggle_area ul li {display: none; position: absolute; top: 100%; left: 0; z-index: 20; justify-content: center; align-items: center; width: 100%; height: 450px; background-color: black; font-weight: 700; font-size: 30px; color: #fff;}
.header_renewal .header_search .inner .left .search_toggle_k .toggle_area ul li.active {display: flex;}
.header_renewal .header_search .inner .right .link_area_k {}
.header_renewal .header_search .inner .right .link_area_k ul {display: flex; align-items: center;}
.header_renewal .header_search .inner .right .link_area_k ul li {margin-right: 10px;}
.header_renewal .header_search .inner .right .link_area_k ul li:last-of-type {margin-right: 0;}
.header_renewal .header_search .inner .right .link_area_k ul li a {display: flex; justify-content: center; align-items: center; width: 94px; height: 32px; background-color: #333; border-radius: 18px; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: #fff;}
/* //header */


/* 메인 배너 */
.main_banner_area {padding: 30px 0 0; margin-top: 258px;}
.main_banner_area .main_banner {display: flex; overflow: hidden; height: 359px; border-radius: 10px;}
.main_banner_area .main_banner .banner_view {position: relative; width: 950px; height: 100%;}
.main_banner_area .main_banner .banner_view .main_slider_for {height: 100%;}
.main_banner_area .main_banner .banner_view .main_slider_for .slick-list {height: 100%;}
.main_banner_area .main_banner .banner_view .banner_btn_area {display: flex; position: absolute; top: 20px; right: 20px; z-index: 10; height: 30px;}
.main_banner_area .main_banner .banner_view .banner_btn_area > div {display: flex; justify-content: center; align-items: center; background-color: rgba(0, 0, 0, .5);}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left {width: 115px; height: 100%; margin-right: 10px; border-radius: 15px;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_arrow {margin-right: 10px;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_arrow .main_prev {display: inline-block; margin-right: 10px;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_arrow .main_next {display: inline-block;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_counter {min-width: 44px; text-align: center;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_counter span {display: inline-block; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: rgba(255, 255, 255, .5);}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_counter span.main_current {font-weight: 800; color: #fff;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_left .main_counter span.main_slash {margin: 0 3px;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_right {width: 30px; height: 100%; border-radius: 50%;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_right .banner_play_stop {width: 100%; height: 100%;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_right .banner_play_stop button {display: none; width: 100%; height: 100%;}
.main_banner_area .main_banner .banner_view .banner_btn_area .banner_btn_right .banner_play_stop button.active {display: block;}
.main_banner_area .main_banner .main_slider_nav {width: 250px; height: 100%; margin-top: -1px;}
.main_banner_area .main_banner .main_slider_nav .slick-list .slick-slide {box-sizing: border-box; cursor: pointer; display: flex; justify-content: center; align-items: center; height: 60px; background-color: #0d0d34; border-top: 1px solid #fff; font-family: "NanumSquare", sans-serif; font-size: 15px; color: #fff;}
.main_banner_area .main_banner .main_slider_nav .slick-list .slick-slide:first-of-type {border-top: none;}
.main_banner_area .main_banner .main_slider_nav .slick-list .slick-slide.slick-current {background-color: #066fa7;}
/* //메인 배너 */



.container_renewal {}
/* 강좌별 BEST */
.best_review_area {margin-top: 40px;}
.best_review_area .inner {}
.best_review_area .inner {}
.best_review_area .inner .tab_btn_area {position: absolute; top: 0; left: 0; width: 810px; text-align: right;}
.best_review_area .inner .tab_btn_area .tab_right {display: inline-block;}
.best_review_area .inner .tab_btn_area ul {display: flex; overflow: hidden; height: 36px; background-color: #f8f8f8; border-radius: 15px;}
.best_review_area .inner .tab_btn_area ul > li {position: relative; width: 100px; height: 100%;}
.best_review_area .inner .tab_btn_area ul > li::before {content: ''; position: absolute; top: 50%; transform: translateY(-50%); width: 1px; height: 12px; background-color: #ddd;}
.best_review_area .inner .tab_btn_area ul > li:first-of-type::before {display: none;}
.best_review_area .inner .tab_btn_area ul > li.active {width: 120px;}
.best_review_area .inner .tab_btn_area ul > li.active button {background-color: #28426f; border-radius: 15px; color: #fff;}
.best_review_area .inner .tab_btn_area ul > li button {width: 100%; height: 100%; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: #333;}
.best_review_area .inner .tab_item_area {}
.best_review_area .inner .tab_item_area h2 {height: 36px; line-height: 36px;}
.best_review_area .inner .tab_item_area > ul {}
.best_review_area .inner .tab_item_area > ul > li {visibility: hidden; opacity: 0; height: 0;}
.best_review_area .inner .tab_item_area > ul > li .list_item {margin-top: 20px;}
.best_review_area .inner .tab_item_area > ul > li.active {display: flex; visibility: visible; opacity: 1; height: 100%;}
.best_review_area .inner .tab_item_area > ul > li .lecture_best {width: 810px; margin-right: 30px;}						
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul {display: flex; flex-wrap: wrap;}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li {flex-shrink: 0; overflow: hidden; width: 250px; height: 305px; margin-right: 30px; margin-bottom: 30px; background-color: #3963ab; border-radius: 11px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li:nth-of-type(3n) {margin-right: 0;}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .explanation {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .explanation .color_txt {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .explanation .txt {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .subject {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .hashtag {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .txt_area .teacher {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .img_area {}
.best_review_area .inner .tab_item_area > ul > li .lecture_best .list_item ul > li .img_area img {}
/* //강좌별 BEST */



/* 강좌별 수강후기 */
.best_review_area .inner .tab_item_area > ul > li .lecture_review {width: 360px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .top {display: flex; justify-content: space-between; align-items: center;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item {}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item {box-sizing: border-box; height: 200px; margin-top: 20px; background-color: #f8f8f8; border: 1px solid #ddd;; border-radius: 10px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item > a {box-sizing: border-box; display: block; width: 100%; height: 100%; padding: 23px 28px 0;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item:first-of-type {margin-top: 0;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .top {display: flex; justify-content: space-between; align-items: center;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .top .left {display: flex; align-items: center;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .top .left .subject {display: flex; justify-content: center; align-items: center; height: 26px; padding: 0 10px; margin-right: 5px; border: 1px solid #28426f; border-radius: 13px; font-weight: 700; font-size: 14px; color: #28426f; letter-spacing: -0.4px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .top .left .teacher {font-size: 14px; color: #333; letter-spacing: -0.4px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .top .right .star {}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .tit_k {margin-top: 15px; font-weight: 700; font-size: 16px; color: #333; letter-spacing: -0.4px;}
.best_review_area .inner .tab_item_area > ul > li .lecture_review .list_item .slide_item .txt_k {max-height: 78px; margin-top: 12px; line-height: 26px; font-size: 14px; color: #333; letter-spacing: -0.4px;}
/* //강좌별 수강후기 */


/* 유명출판사별 강의 */
.publisher_textbook_area {padding: 50px 0; background-color: #e3eaf7;}
.publisher_textbook_area .inner {display: flex; justify-content: space-between; height: 400px;}
.publisher_textbook_area .inner > div {box-sizing: border-box; padding: 30px; background-color: #fff; border-radius: 11px;}
.publisher_textbook_area .inner > div.famous_publisher {width: 810px; padding: 0 0 30px; margin-right: 30px;}
.publisher_textbook_area .inner > div.famous_publisher .top {display: flex; justify-content: space-between; align-items: center; padding: 30px 30px 0;}
.publisher_textbook_area .inner > div.famous_publisher .top .left {display: flex; align-items: center;}
.publisher_textbook_area .inner > div.famous_publisher .top .left .main_tit {margin-right: 10px;}
.publisher_textbook_area .inner > div.famous_publisher .list_item {margin-top: 30px;}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul {margin: 0 10px;}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li {text-align: center;}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li .img_area {}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li .img_area img {display: inline-block;}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li .txt_area {margin-top: 10px; }
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li .txt_area .company {display: inline-block; height: 26px; line-height: 26px; padding: 0 10px; border: 1px solid #28426f; border-radius: 13px; font-weight: 700; font-size: 14px; color: #28426f; letter-spacing: -0.4px;}
.publisher_textbook_area .inner > div.famous_publisher .list_item ul li .txt_area .book {line-height: 26px; margin-top: 10px; font-weight: 700; font-size: 16px; color: #333; letter-spacing: -0.4px;}
/* //유명출판사별 강의 */


/* 영역별 학습교재 */
.publisher_textbook_area .inner > div.learning_textbook {width: 360px;}
.publisher_textbook_area .inner > div.learning_textbook .top {display: flex; justify-content: space-between; align-items: center;}
.publisher_textbook_area .inner > div.learning_textbook .top .main_tit {}
.publisher_textbook_area .inner > div.learning_textbook .top .button_plus {display: block;}
.publisher_textbook_area .inner > div.learning_textbook .cont {margin-top: 30px;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area {height: 36px;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul {display: flex; justify-content: center; overflow: hidden; height: 100%; background-color: #f8f8f8; border-radius: 18px;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li {flex-grow: 1; position: relative; text-align: center;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li:first-of-type {padding-left: 0; margin-left: 0;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li:first-of-type::before {display: none;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li::before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 1px; height: 12px; background-color: #ddd;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li button {width: 100%; height: 100%; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 14px; color: #333;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_btn_area .tab_btn_ul li.active button {background-color: #28426f; border-radius: 18px; color: #fff}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area {}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul {padding-top: 20px;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li {display: none;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li.active {display: block;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li .list_item {}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li .list_item ul {}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li .list_item ul li {position: relative; padding-left: 12px;}
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li .list_item ul li::before {content: ''; position: absolute; top: 18px; left: 0; width: 4px; height: 4px; background-color: #333; border-radius: 2px;}				
.publisher_textbook_area .inner > div.learning_textbook .cont .tab_item_area .tab_item_ul > li .list_item ul li a {line-height: 40px; font-size: 14px; color: #333; letter-spacing: -0.4px;}
/* //영역별 학습교재 */