.clearfix:after{content:''; display:block; clear: both;}

/* footer */
.footer_renewal{width:100%; background:#272a2e;font-family: "NanumSquare", sans-serif;}
.footer_renewal > div{width:1170px;margin: 0 auto;padding: 35px 0 30px;}
.footer_logoArea{ float: left;margin-right: 100px;margin-top: 25px;}
.footer_box {float: left;padding: 0 0;}
.footer_box .footer_sns li {float: left;position: relative;padding-right:16px;margin-right: 17px;}
.footer_box .footer_sns li:after {content:"";display: block;width: 1px;height: 12px;background: #d9d9d9;position: absolute;top:2px;right:0;}
.footer_box .footer_sns li:first-child+li+li+li+li:after,
.footer_box .footer_sns li:first-child+li+li+li+li+li:after {display:none;}
.footer_box .footer_sns li:first-child+li+li+li+li {margin-right:20px}
.footer_box .footer_sns li a {font-size: 14px;color:#888;font-weight: bold;}
.footer_box .footer_sns li a:hover {text-decoration: underline;}
.footer_box .footer_sns li:first-child a{color:#888}
.footer_box .footer_sns li:first-child+li+li+li a{color:#888;}
.footer_box .footer_address {margin-top: 15px;}
.footer_box .footer_address p {font-size: 13px;color: #888;line-height: 20px;}