@charset "utf-8";

/* header */
.header_renewal {position: absolute; top: 0; left: 0; z-index: 100; width: 100%; background-color: #fff;}
.header_renewal .header_logo {display: flex; align-items: center; height: 122px; border-bottom: 2px solid #f0f0f0;}
.header_renewal .header_logo .inner {display: flex; justify-content: space-between; align-items: center;}
.header_renewal .header_logo .inner .hamburger {}
.header_renewal .header_logo .inner .hamburger button {position: relative; width: 40px; height: 34px;}
.header_renewal .header_logo .inner .hamburger button::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 4px; background-color: #333;}
.header_renewal .header_logo .inner .hamburger button span {position: absolute; top: 15px; left: 0; width: 100%; height: 4px; background-color: #333;}
.header_renewal .header_logo .inner .hamburger button::after {content: ''; position: absolute; top: 30px; left: 0; width: 100%; height: 4px; background-color: #333;}
.header_renewal .header_logo .inner .logo {display: flex; align-items: center;}
.header_renewal .header_logo .inner .change_link {}
.header_renewal .header_logo .inner .change_link a {display: flex; justify-content: center; align-items: center; width: 100px; height: 74px; line-height: 28px; border-radius: 5px; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 20px; color: #fff; text-align: center;}
.wrap.high .header_renewal .header_logo .inner .change_link a {background-color: #17978b;}
.wrap.middle .header_renewal .header_logo .inner .change_link a {background-color: #066fa7;}

.header_renewal .header_select {border-bottom: 2px solid #f0f0f0;}
.header_renewal .header_select .inner {padding: 10px 0; font-size: 0;}
.header_renewal .header_select .inner span {display: inline-block; width: 320px; height: 76px; margin-right: 20px;}
.header_renewal .header_select .inner span:last-of-type {margin-right: 0;}
.header_renewal .header_select .inner span select {width: 100%; height: 100%; padding: 0 60px 0 30px; background: url(/mobile/220518/images/select_arrow.png) no-repeat right 20px center; border: 2px solid #ddd; border-radius: 10px; font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 32px; color: #333;}


.header_renewal .header_gnb {display: none; position: absolute; top: 0; left: 0; width: 100%; background-color: #fff;}
.header_renewal .header_gnb.active {display: block;}
.header_renewal .header_gnb.active::before {content: ''; position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background: rgba(0, 0, 0, .5);}
.header_renewal .header_gnb .top {height: 260px;}
.wrap.high .header_renewal .header_gnb .top {background-color: #066fa7;}
.wrap.middle .header_renewal .header_gnb .top {background-color: #17978b;}
.header_renewal .header_gnb .top .txt_info {position: relative; padding: 40px 0 50px; text-align: center;}
.header_renewal .header_gnb .top .txt_info button {position: absolute; top: 50%; left: 10px; transform: translateY(-50%);}
.header_renewal .header_gnb .top .txt_info span {font-weight: 700; font-size: 32px; color: #fff;}
.header_renewal .header_gnb .top .link_area {display: flex; padding: 0 30px;}
.header_renewal .header_gnb .top .link_area a {flex-grow: 1; display: flex; justify-content: center; align-items: center; height: 72px; margin-left: 40px; border-radius: 12px; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 32px;}
.header_renewal .header_gnb .top .link_area a:first-of-type {margin-left: 0;}
.header_renewal .header_gnb .top .link_area .login {background-color: #fff; color: #066fa7;}
.header_renewal .header_gnb .top .link_area .sign_up {border: 2px solid #fff; color: #fff;}

.header_renewal .header_gnb .mid {}
.header_renewal .header_gnb .mid .gnb {}
.header_renewal .header_gnb .mid .gnb .depth01 {}
.header_renewal .header_gnb .mid .gnb .depth01 > li {}
.header_renewal .header_gnb .mid .gnb .depth01 > li > a {display: flex; align-items: center; height: 109px; padding: 0 60px; background: url(/mobile/220518/images/gnb_arrow.png) no-repeat right 40px center; border-bottom: 2px solid #f0f0f0; font-family: "NanumSquare", sans-serif; font-weight: 800; font-size: 32px; color: #333;}
.header_renewal .header_gnb .mid .gnb .depth01 > li .depth02 {display: none; padding: 10px 80px; background-color: #f8faff; border-bottom: 2px solid #f0f0f0;}
.header_renewal .header_gnb .mid .gnb .depth01 > li.active .depth02 {display: block;}
.header_renewal .header_gnb .mid .gnb .depth01 > li.active > a {background: url(/mobile/220518/images/gnb_arrow02.png) no-repeat right 40px center;}
.header_renewal .header_gnb .mid .gnb .depth01 > li .depth02 > li {position: relative; padding-left: 15px;}
.header_renewal .header_gnb .mid .gnb .depth01 > li .depth02 > li::before {content: ''; position: absolute; top: 50%; left: 0; transform: translateY(-50%); width: 7px; height: 7px; background-color: #333;}
.header_renewal .header_gnb .mid .gnb .depth01 > li .depth02 > li > a {line-height: 74px; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 26px; color: #333;}

.header_renewal .header_gnb .btm {margin-top: 140px; background-color: #333;}
.header_renewal .header_gnb .btm ul {display: flex; align-items: center; height: 100px; text-align: center;}
.header_renewal .header_gnb .btm ul li {flex-grow: 1; position: relative;}
.header_renewal .header_gnb .btm ul li {border-left: 2px solid #fff;}
.header_renewal .header_gnb .btm ul li:first-of-type {border-left: none;}
.header_renewal .header_gnb .btm ul li a {font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 28px; color: #fff;}



.container_renewal {padding-top: 220px;}

/* 메인 배너 */
.container_renewal .main_banner_area {}
.container_renewal .main_banner_area .main_banner {position: relative;}
.container_renewal .main_banner_area .main_banner .main_banner_slide {}
.container_renewal .main_banner_area .main_banner .main_banner_slide li {}
.container_renewal .main_banner_area .main_banner .slide_btn_area {position: absolute; top: 20px; right: 30px;}
.container_renewal .main_banner_area .main_banner .slide_btn_area .counter_area {display: flex; align-items: center; height: 50px; padding: 0 17px; background-color: rgba(0, 0, 0, .5); border-radius: 25px;}
.container_renewal .main_banner_area .main_banner .slide_btn_area .counter_area .main_banner_current > span {font-family: "NanumSquare", sans-serif; font-size: 20px;}
.container_renewal .main_banner_area .main_banner .slide_btn_area .counter_area .main_banner_current {margin-right: 9px; font-weight: 800; color: #fff;}
.container_renewal .main_banner_area .main_banner .slide_btn_area .counter_area .main_banner_slash {margin-right: 5px; font-weight: 700; color: rgba(255, 255, 255, .5);}
.container_renewal .main_banner_area .main_banner .slide_btn_area .counter_area .main_banner_total {font-weight: 700; color: rgba(255, 255, 255, .5);}


/* 강좌별 BEST, 수강후기 */
.best_review_area {margin-top: 54px;}
.best_review_area .inner {}
.best_review_area .inner .ggasdfas {display: flex; justify-content: space-between; align-items: center;}
.best_review_area .inner .main_mtit {}
.best_review_area .inner .tab_btn_area {margin-top: 35px;}
.best_review_area .inner .tab_btn_area .tab_btn_ul {display: flex; overflow: hidden; height: 100px; padding: 5px 6px; background-color: #f8f8f8; border: 2px solid #ddd; border-radius: 50px;}
.best_review_area .inner .tab_btn_area .tab_btn_ul > li {flex-grow: 1; flex-basis: 0;}
.best_review_area .inner .tab_btn_area .tab_btn_ul > li > button {position: relative; width: 100%; height: 100%; background-color: #f8f8f8; border: none; font-family: "NanumSquare", sans-serif; font-weight: 700; font-size: 26px; color: #333;}
.best_review_area .inner .tab_btn_area .tab_btn_ul > li.active button {width: 113px; background-color: #28426f; border-radius: 40px; font-size: 28px; color: #fff;}

.best_review_area .tab_item_area {margin-top: 40px;}
.best_review_area .tab_item_area > ul {margin-left: 15px;}
.best_review_area .tab_item_area > ul > li {visibility: hidden; opacity: 0; height: 0;}
.best_review_area .tab_item_area > ul > li.active {visibility: visible; opacity: 1; height: 100%;}
/* 강좌별 BEST */
.best_review_area .tab_item_area > ul > li .lecture_best {}
.best_review_area .tab_item_area > ul > li .lecture_best ul {}
.best_review_area .tab_item_area > ul > li .lecture_best ul .slick-list {padding-right: 87px;}
.best_review_area .tab_item_area > ul > li .lecture_best ul li {margin: 0 15px;}
.best_review_area .tab_item_area > ul > li .lecture_best ul li a {}

.slide_counter {}
.slide_counter ul {}
.slide_counter ul li {display: none;}
.slide_counter ul li.active {display: block;}
/* //강좌별 BEST */


/* 강좌별 수강후기 */
.best_review_area .tab_item_area {margin-top: 40px;}
.best_review_area .tab_item_area > ul > li .lecture_review {margin-top: 55px;}
.best_review_area .tab_item_area > ul > li .lecture_review .lecture_review_tit {}
.best_review_area .tab_item_area > ul > li .lecture_review .lecture_review_tit .inner {display: flex; justify-content: space-between; align-items: center;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide {margin-top: 35px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .slick-list {padding-right: 87px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item {margin: 0 15px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a {}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box {padding: 30px 30px 40px; background-color: #f8f8f8; border: 2px solid #ddd; border-radius: 10px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top {display: flex; justify-content: space-between; align-items: center;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .left {}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .left > span {display: inline-block;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .left .subject {height: 40px; padding: 0 13px; margin-right: 8px; border: 2px solid #28426f; border-radius: 20px; font-weight: 700; font-size: 24px; color: #28426f;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .left .teacher {font-size: 24px; color: #333;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .right {}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .right ul {display: flex;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .right ul > li {margin-right: 10px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .top .right ul > li:last-of-type {margin-right: 0;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .mid {margin-top: 15px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .mid dl {}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .mid dl dt {font-weight: 700; font-size: 26px; color: #333; letter-spacing: -0.4px;}
.best_review_area .tab_item_area > ul > li .lecture_review .review_slide .review_slide_item a .slide_box .mid dl dd {line-height: 38px; margin-top: 20px; font-size: 24px; color: #333; letter-spacing: -0.4px;}
/* 강좌별 수강후기 */

/* //강좌별 BEST, 수강후기 */


/* 유명 출판사별 강의 */
.famous_publisher {padding: 55px 0; margin-top: 60px; background-color: #f6f9ff;}
.famous_publisher .famous_publisher_title {display: flex; justify-content: space-between; align-items: center; position: relative;}
.famous_publisher .famous_publisher_title .main_mtit {}
.famous_publisher .slide_area {margin-top: 35px;}
.famous_publisher .slide_area .slide_ul {margin-left: 15px;}
.famous_publisher .slide_area .slide_ul .slick-list {padding-right: 135px;}
.famous_publisher .slide_area .slide_ul li {margin: 0 15px;}
.famous_publisher .slide_area .slide_ul li a {display: block; text-align: center;}
.famous_publisher .slide_area .slide_ul li a .imag_area {}
.famous_publisher .slide_area .slide_ul li a .company {display: inline-block; height: 40px; line-height: 40px; padding: 0 18px; margin-top: 20px; border: 2px solid #28426f; border-radius: 20px; font-weight: 700; font-size: 24px; color: #28426f; letter-spacing: -0.4px;}
.famous_publisher .slide_area .slide_ul li a .book {line-height: 40px; margin-top: 15px; font-weight: 700; font-size: 26px; color: #333; letter-spacing: -0.4px;}
/* //유명 출판사별 강의 */


/* 퀵 메뉴 */
#fixedFloatBtn .mobCallBtn {width: 75px; height: 75px;}
#fixedFloatBtn .mobCallBtn:before {width: 38px; height: 5px;}
#fixedFloatBtn .mobCallBtn:after {width: 5px; height: 38px;}
#fixedFloatBtn .mobBtnList {bottom: 30px;}
#fixedFloatBtn .mobBtnList li .mob_title {font-size: 22px;}
#fixedFloatBtn .mobBtnList > li > div > a {width: 60px; height: 60px;}
#fixedFloatBtn .mobBtnList.open .li2 {bottom: 145px;}
#fixedFloatBtn .mobBtnList.open .li1 {bottom: 225px;}
#fixedFloatBtn .mobBtnList li >.mob_icon a i {top: 50% !important; transform: translateY(-50%); font-size: 35px !important;}
#fixedFloatBtn .mobChatbot {width: 75px; height: 75px;}
#fixedFloatBtn .totopBtn {width: 75px; height: 75px;}
#fixedFloatBtn .totopBtn:before {width: 27px; height: 5px; margin-left: -21px;}
#fixedFloatBtn .totopBtn:after {width: 27px; height: 5px; margin-left: -5px;}
/* 퀵 메뉴 */