/* 웹폰트15픽셀밑으로깨짐현상 */
p, a, span, h1, h2, h3, h4, h5, h6, dd, dt, button {
    transform: skew(-0.1deg);
}

.mb30 {margin-bottom: 30px;}
.mt30 {margin-top: 30px;}
.mr30 {margin-right: 30px;}
.ml30 {margin-left: 30px;}
.mr48 {margin-right: 48px;}
/* .more_btn .round {display: inline-block; width: 23px; height: 23px; box-sizing: border-box; border: 1px solid #dedede; border-radius: 50%; position: relative; vertical-align: middle;}
.more_btn .round::before {content: ""; display: block; width: 2px; height: 11px; background-color: #b1b1b1; position: absolute; top: 5px; left: 10px;}
.more_btn .round::after {content: ""; display: block; width: 11px; height: 2px; background-color: #b1b1b1; position: absolute; top: 5px; left: 10px;} */
.button_mplus {background-image: url(/mobile/220518/images/plus.png); width: 48px; height: 48px; background-repeat: no-repeat;}
.clearfix:after{content:''; display:block; clear: both;}


/* 모바잂푸터 */

/* 고객만족센터 */
.footer_renewal .footer_tel {padding: 29px 30px; background-color: #f1f6ff;background-image: url(/mobile/220518/images/tel_icon.png); background-repeat: no-repeat; background-position: 453px 53px; font-family: "NanumSquare", sans-serif;}
.footer_renewal .footer_tel .tel_txt { margin-left: 135px;}
.footer_renewal .footer_tel .tel_txt .service_name {font-family: "NanumSquare", sans-serif; font-size: 28px; color: #333; font-weight: 800; margin-bottom: 20px;}
.footer_renewal .footer_tel .tel_txt .service_number {font-family: "NanumSquare", sans-serif; font-size: 50px; font-weight: 800; color: #28426f;}
.footer_renewal .footer_tel .tel_txt .service_time {font-family: "NanumSquare", sans-serif; font-size: 24px; color: #333; font-weight: 400; margin-top: 12px;}

/* sns */
.footer_renewal .footer_snslist {background: #272a2e; padding: 30px 0;}
.footer_renewal .footer_snslist ul {text-align: center}
.footer_renewal .footer_snslist ul li {display: inline-block;}
.footer_renewal .footer_snslist ul li a img{vertical-align: middle;}

/* 이용약관 */
.footer_renewal .footer_information {background: #272a2e; padding: 12px 0; margin: -1px 0;}
.footer_renewal .footer_information ul {text-align: center}
.footer_renewal .footer_information ul li {display: inline-block;}
.footer_renewal .footer_information ul li a{font-size:24px; color: #aaa; margin: 0 29px; font-family: "NanumSquare", sans-serif;}
.footer_renewal .footer_information ul li a:hover {text-decoration: none!important;}
.footer_renewal .footer_information ul li:after {content:"";width: 1px; height: 20px; display: inline-block; background-color:#aaa;position: relative; right: -3px; top: 2px;}
.footer_renewal .footer_information ul li:last-child:after {display: none}

/* 주소 및 기타정보 */
.footer_renewal .footer_add {background:#272a2e; padding: 15px 0 60px;}
.footer_renewal .footer_add p, .footer_renewal .footer_add span {font-size:20px; font-family: "NanumSquare", sans-serif; color: #888 !important; text-align: center; line-height: 40px;}
.footer_renewal .footer_add p.footer_logo{margin-top: 10px;}
.footer_renewal .footer_add .color_grey {color: #888!important;}

/* 공지사항 */
.notice_area .notice_title {position: relative;}
.notice_area .notice_title .button_mplus {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.notice_area .notice_content {padding: 30px 30px; border: 1px solid #ddd; border-radius: 11px;}
.notice_area .notice_content ul {}
.notice_area .notice_content ul li {display: flex; justify-content: space-between; align-items: center;}
.notice_area .notice_content ul li a {width: 458px; padding-right: 40px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 26px; color:#333; font-weight: bold; line-height: 26px;}
.notice_area .notice_content ul li span {font-size: 24px; color: #888;}

.span_grey {color: #888;}

/* 추천프로모션 */
.promotion_area .promotion_tit {display: flex; justify-content: space-between; align-items: center; position: relative; padding-right: 65px; margin-bottom: 35px; margin-top: 55px;}

.promotion_area .img_area img {}
.promotion_area .promotion_tit .button_mplus {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}

/* 이벤트 */
.event_area .event_tit {display: flex; justify-content: space-between; align-items: center; position: relative; padding-right: 65px; margin-bottom: 35px;}
.event_area .event_tit .button_mplus {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.event_area .img_area img {}

/* 강남인강원픽 */
.onepick_mentoring_area .onepick_tit {display: flex; justify-content: space-between; align-items: center; position: relative; padding-right: 65px; margin: 30px 0 40px 0;}
.onepick_mentoring_area .onepick_tit .button_mplus {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.onepick_mentoring_area .onepick_mcontent {}
.onepick_mentoring_area .onepick_mcontent ul {display: flex; margin-left: 15px;}
.onepick_mentoring_area .onepick_mcontent ul .slick-list {padding-right: 313px;}
.onepick_mentoring_area .onepick_mcontent ul li {margin: 0 15px; border: 1px solid #ddd; border-radius: 20px;}
.onepick_mentoring_area .onepick_mcontent ul li img {width: 100%; height: 268px; object-fit: cover; border-radius: 11px 11px 0 0;}
.onepick_mentoring_area .onepick_mcontent ul li .onepick_txt .onepick_name  {height: 140px; padding: 20px 22px 0; font-size: 26px; font-weight: 700; line-height: 40px;}
.onepick_mentoring_area .onepick_mcontent ul li .onepick_txt .onepick_teacher {padding: 0 20px 20px; margin-top: 20px; font-size: 24px;}

/* 강남인강멘토링 */
.onepick_mentoring_area .mentoring_tit {display: flex; justify-content: space-between; align-items: center; position: relative; padding-right: 65px; margin: 55px 0 40px;}
.onepick_mentoring_area .mentoring_tit .button_mplus {position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.onepick_mentoring_area .mentoring_mcontent {}
.onepick_mentoring_area .mentoring_mcontent ul {display: flex; margin-left: 15px;}
.onepick_mentoring_area .mentoring_mcontent ul .slick-list {padding-right: 313px;}
.onepick_mentoring_area .mentoring_mcontent ul li {margin: 0 15px; border: 1px solid #ddd; border-radius: 22px;}
.onepick_mentoring_area .mentoring_mcontent ul li img {width: 100%; height: 268px; object-fit: cover; border-radius: 11px 11px 0 0;}
.onepick_mentoring_area .mentoring_mcontent ul li .mentoring_txt .mentoring_name  {height: 140px; padding: 20px 22px 0; font-size: 26px; font-weight: 700; line-height: 40px;}
.onepick_mentoring_area .mentoring_mcontent ul li .mentoring_txt .mentoring_teacher {margin-top: 20px; padding: 0 20px 20px; font-size: 24px;}

/* 추천 프로모션 강좌 */
.promotion_area .promotion_slide {display: flex; margin-left: 15px;}
.promotion_area .promotion_slide .slick-list {padding-right: 125px;}
.promotion_area .promotion_slide li {border: 1px solid #ddd; border-radius: 25px; overflow: hidden; margin: 0 15px;}

/* 이벤트 */
.event_area .event_slide {display: flex; margin-left: 15px; justify-content: center;}
/* .event_area .event_slide .slick-list {padding-right: 125px;} */
.event_area .event_slide .slick-list img {width: auto;}
.event_area .event_slide li {margin: 0 15px; text-align: center;}
.event_area .event_slide li a {display: inline-block;}

/* 공지사항 */